
.App {
  text-align: center;
  background-color: black;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  background-image: url('https://img.freepik.com/free-vector/realistic-glassmorphism-background_23-2149441716.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698019200&semt=ais');
  background-size: 100% 100%; 
    backdrop-filter: blur(50px);
    background-opacity: 0.4;
}

@media (max-width: 600px) {
  .App-header {
    background-color: black; 
    font-size: 16px; 
  }

  .LoginForm {
    backdrop-filter: blur(50px);
    background-opacity: 0.4;
    color: black; 
    border: 2px solid black;
    border-radius: 20px; 
    padding: 20px; 
  }

  .RegisterForm {
    backdrop-filter: blur(50px);
    background-opacity: 0.4;
    color: black; 
    border: 2px solid black;
    border-radius: 20px; 
    padding: 20px; 
  }

  
  
  .LoginForm h2 {
    font-size: 24px; 
  }
}

@media (min-width: 601px) {
  .LoginForm {
    min-height: 50vh;
    min-width: 25vw;
    backdrop-filter: blur(50px);
    background-opacity: 0.4;
    color: black;
    border: 2px solid black;
    border-radius: 20px; 
    padding: 20px; 
  }

  .RegisterForm {
    min-height: 50vh;
    min-width: 25vw;
    backdrop-filter: blur(50px);
    background-opacity: 0.4;
    color: black;
    border: 2px solid black;
    border-radius: 20px; 
    padding: 20px; 
  }

  .App-header {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

table {
  max-height: 300px; 
  overflow-y: scroll;
}
th, td {
  padding: 8px;
  border: 1px solid #dddddd;
}

button {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0; 
}

#result-table {
  margin: 0 auto;
}



